<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Autobusai</title>
    <meta charset="utf-8">
    		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    		<link rel="stylesheet" href="jqueryui.css">	
		<link rel="stylesheet" href="main.css">		
		<style>
			.anuliuotas, .sanuliuotas {
				background-color: lightblue;
			}
			.ivykdytas, .sivykdytas {
				background-color: lightgreen;
			}
			table {
				border-collapse: colapse;
			}
			th {
				background-color: lightgreen;			
			}
			th, td {
				padding: 6px;
				border: 1px solid grey;
			}
			.ch_lab {
				display: inline-block ! important;
			}
		</style>
	    <script
		src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous">
	    </script>
	    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>	    
	    <script src="crud2.js"></script>
	<script th:inline="javascript">
    
		$( document ).ready ( function() {
				crudNuorodos = function(
			
				fields
				, fields_names
				, url
				, field_data
				, id_html_saraso
				, id_html_dialog_formos
				, dialog_size_x
				, dialog_size_y
				, title_dialog_form
				, url_save_rec  
				, url_delete_rec
				, fields_edit
				, field_name
				, fields_ed_types
			
			) {
				params = {
				
					fields: fields
					, fields_names: fields_names
					, url : url
					, field_data: field_data
					, id_html_saraso: id_html_saraso
					, id_html_dialog_formos: id_html_dialog_formos
					, dialog_size_x: dialog_size_x
					, dialog_size_y: dialog_size_y
					, title_dialog_form: title_dialog_form
					, url_save_rec: url_save_rec  
					, url_delete_rec: url_delete_rec
					, fields_edit: fields_edit
					, field_name: field_name
					, fields_ed_types: fields_ed_types
				}
				crud.call ( this, params );	// objektu surišimas pagal https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/prototype                (OS/eilute 1)  ..
				
				this.autobusai = [];
				this.imones = [];
				
				this.getAutobusai = function() {
																			// alert( 'run getProduktai' );
					var i_am = this;
					
					$.ajax({
							url: "http://localhost:8080/ajax/lst-autobusai" 
					}).done(
					
						function( data_autobusai ) {
						
							i_am.autobusai = data_autobusai;
							
							$.ajax({
							
								url: "http://localhost:8080/ajax/lst-imones"
												
							}).done( 
							
								function ( data_imones ) {
								
									i_am.imones = data_imones;
							
									i_am.initEmpty();
									i_am.refreshData();
								}
							);
						}
					);
				}
			}
				
			crudNuorodos.prototype = Object.create( crud.prototype ); // new crud;			// (OS/eilute 2)
				
			crudNuorodos.prototype.constructor = crudNuorodos;						// (OS/eilute 3)
																				
			crudNuorodos.prototype.htmDialogoEditFields = function ( i_am  ) {			//  .. ir paveldejimas ir polimorfizmas pagal https://toranbillups.com/blog/archive/2013/05/15/Basic-javascript-inheritance-and-polymorphism/
				
													
				options_imones = '';
				options_autobusai = '';
				crud.prototype.htmDialogoEditFields ( i_am, [ 'modelis', 'metai', 'klase', 'kaina_km', 'kaina_val', 'vietu_sk', 'imones_id' ] );																			
				for ( i= 0; i < this.autobusai.length; i++ ) {
				
					options_autobusai += '<option value="' + this.autobusai [ i ].modelis + '">' + this.autobusai [ i ].modelis + '</option>';

				}
				i_am.params.res_str += 	'<label for="modelis">modelis</label>' +
						'<select type="text" name="modelis" id="modelis" class="text ui-widget-content ui-corner-all">' +
							options_autobusai +
						'</select>';
				i_am.params.res_str += '<label for="metai">metai</label>' +
							'<input type="text" name="metai" id="metai" value="" class="text ui-widget-content ui-corner-all" required>';
				i_am.params.res_str += 	'<label for="klase">Klase</label>' +
							'<input type="radio" name="liukso" value="liukso" style="display: inline-block"> - liukso' +
							'<input type="radio" name="ekonomine" value="ekonomine" style="display: inline-block"> - ekonomine';
				i_am.params.res_str += 	'<label for="kaina_km">Kaina km</label>' +
							'<input type="number" name="kaina_km" id="kaina_km" value="0" class="text ui-widget-content ui-corner-all" required>';
				i_am.params.res_str += 	'<label for="kaina_val">Kaina val</label>' +
							'<input type="number" name="kaina_val" id="kaina_val" value="0" class="text ui-widget-content ui-corner-all" required>';
				i_am.params.res_str += 	'<label for="vietu_sk">Vietu_sk</label>' +
							'<input type="number" name="vietu_sk" id="vietu_sk" value="0" class="text ui-widget-content ui-corner-all" required>';
				for ( i= 0; i < this.imones.length; i++ ) {
																			
					options_imones += '<option value="' + this.imones [ i ].id + '">' + this.imones [ i ].pav + '</option>';
				}
				i_am.params.res_str += 	'<label for="imones_id">Imones ID</label>' +
						'<select type="text" name="imones_id" id="imones_id" class="text ui-widget-content ui-corner-all">' +
							options_imones +
						'</select>';
			}
/*				
			crudPatiekaloProduktu.prototype.addColumns = function () {
			
				return '<td>bla bla</td>';
			}
			
			crudPatiekaloProduktu.prototype.addHeadColumns = function () {
			
				return '<th>Bla</th>';
			}				
*/																				
			crud_nuorodos = new crudNuorodos ( 

				[
					'modelis' 
					, 'metai'	
					, 'klase'	
					, 'kaina_km'	
					, 'kaina_val'	
					, 'vietu_sk'	
					, 'imones_id'
				]
				, [ 'Modelis', 'Metai', 'Klase', 'Kaina 1 km', 'Kaina valandos', 'Vietu skaicius', 'Imones ID' ]
				, 'http://localhost:8080/ajax/lst-autobusai'
				, ''				
				, 'autobusai'
				, ''
				, 400
				, 640
				, 'Autobusas'
				,  'http://localhost:8080/ajax/saugoti-autobusa'
				,  'http://localhost:8080/ajax/salinti-autobusa'
				, [ 
					'modelis' 
					, 'metai'	
					, 'klase'	
					, 'kaina_km'	
					, 'kaina_val'	
					, 'vietu_sk'	
					, 'imones_id'
				]
				, 'modelis'
				,  [ 'select', 'number', 'radio', 'number', 'number', 'number', 'select' ]
			);

			crud_nuorodos.getAutobusai();
			
		});
		
	</script>
</head>
<body>
	<div id="menu">
		<nav>
			<a th:each="menu_item : ${lst_menu}" th:href="${menu_item.itemurl()}" th:text="${menu_item}"></a>
		</nav>

	</div>
	<div id="nuorodos">
	</div>
</body>
</html>